section.post-event {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fafafa;

  .col-left, .section-title {
    text-align: left;

    @media screen and (max-width: 768px){
      text-align: center;
    }
  }
}


.btn-outline-blue {
  background-color: white;
  border: solid #20789E 2px !important;

  @media screen and (max-width: 768px){
    display: block;
    margin: 0 auto;
  }
}